composer.phar
composer.lock
/vendor
/node_modules
/public/css
/public/js
/public/fonts
/resources/assets/temp
Homestead.yaml
Homestead.json
.vagrant
.env
.log
_ide_helper.php
.idea
.DS_Store
*.DS_Store
*/.DS_Store
/.phpintel
