%clear-fix:after {
    clear: both;
    content: '';
    display: block;
}
%padding {
    padding: 0 16px;
    @media screen and (min-width: $bp-medium) {
        padding: 0 20px;
    }
}
%article-padding {
    padding: 100px 0;
}
#cookie-notice {
    @include transition(all .5s ease-in 0s);
    @include transform(translateY(-50px));
    background-color: $col-blue-beta;
    height: 0;
    overflow: hidden;
    text-align: center;
    &.show-notice {
        @include transform(translateY(0));
        height: auto;
    }
    &.hide-notice {
        opacity: 0;
    }
    .cookie-text {
        color: #fff;
        padding: 13px 16px 13px;
    }
    a {
        text-decoration: underline;
    }
    #cookie-close {
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        opacity: .3;
        margin-left: 30px;
        vertical-align: middle;
        position: relative;
        top: -2px;
        @include transition(opacity 200ms);
        &:hover {
            opacity: 0.7;
        }
        @media screen and (max-width: $bp-iPhone4) {
            margin: 10px 0 0 0;
            display: block;
        }
    }
}
.article-with-padding {
    @extend %article-padding;
    &:last-of-type {
        padding-bottom: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}
.with-padding {
    @extend %padding;
}
.fix-margin {
    font-size: 0;
}
// Gradient boxes
//
.is-red {
    color: red;
}

%white-panel,
%blue-panel {
    font-family: $font-family-basic;
    font-weight: $font-weight-bold;
    background-color: white;
    border: 0;
    color: $col-blue-beta;
    display: block;
    padding: 0;
    text-align: center;
    width: 100%;
    @include fontDef(0, 60, 20);
}
%blue-panel {
    background-color: $col-blue-alpha;
    color: white;
}

// Dividers
.hr-thin, .hr {
    border: 0;
    background-color: $col-gray-alpha;
    display: block;
    height: 1px;
    margin-bottom: 16px;
    width: 100%;
}
.hr {
    margin-top: 72px;
    height: 4px;
    &.delimiter {
        margin-top: 115px;
    }
}

// Misc stuff
.is-uppercase {
    text-transform: uppercase;
}
.clear-fix:after {
    clear: both;
    content: '';
    display: block;
}

.right-aligned {
    float: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.underlined-title {
    border-bottom: 2px solid $col-gray-alpha;
}

.is-txt-centered {
    text-align: center;
}
.is-color-green {
    color: $col-green-beta !important;
}
.is-border-green {
    border-color: $col-green-beta !important;
    border-image: none;
}

.social-buttons-wrapper {
    @include font-size(0);
    text-align: center;
    .social-buttons {
        @include clearfix;
    }
    .social-button-item {
        @include font-size(20);
        display: inline-block;
        float: left;
        margin: 0 14px;
        &:before {
            display: none;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
%no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text-container-right,
.container-align-text-on-right-side {
    // display: table;
    margin-right: 0;
}
.privacy-policy {
    h3 {
        margin-bottom: 15px;
        margin-top: 45px;
    }
}
.block-list {
    @extend %clear-fix;
    @extend %padding;
    font-size: 0;
    .block-item {
        @extend %clear-fix;
        margin-bottom: 30px;
        vertical-align: top;
        [class*="icon-"] {
            display: inline-block;
            margin: 0 20px 15px 0;
            @include font-size(44);
            @media screen and (min-width: $bp-large-mobile) {
                @include font-size(90);
            }
        }
        &:before {
            display: none;
        }
        @media screen and (max-width: $bp-large-mobile - 1) {
            .block-item-content {
                padding-left: 64px;
            }
            [class*="icon-"] {
                float: left;
            }
        }
        @media screen and (min-width: $bp-large-mobile) {
            &:nth-child(even) {
                margin-left: 8%;
            }
            display: inline-block;
            margin-bottom: 64px;
            width: 46%;
        }
        @media screen and (min-width: $bp-medium) {
            width: 30.33333%;
            margin-right: 4.5%;
            &:nth-child(even) {
                margin-left: 0;
            }
            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }
    .block-item-title {
        margin-bottom: 13px;
    }
}

// Images:
.head-image {
    img {
        width: 100%;
    }
}
.image-smaller-right {
    float: none;
    width: 100%;
    @media screen and ( min-width: $bp-in-between) {
        float: right;
        width: 85%;
    }
}
.owl-carousel {
    .prev:hover,
    .next:hover {
        opacity: 0.5;
    }
}


// Ol and Ul Styles
ul:not(.categories-list):not(.share-toolbar):not(.nav-list),
ol {
    list-style: none;
    li {
        position: relative;
        &:last-of-type {
            margin-bottom: 0;
        }
        &:before {
            position: absolute;
            left: -25px;
        }
    }
}
ol {
    counter-reset: list-counter;
    li {
        counter-increment: list-counter;
    }
    li:before {
        content: counter(list-counter);
        margin-right: 15px;
        color: #0166ff;
        border-radius: 100%;
    }
}
ul:not(.categories-list):not(.share-toolbar) {
    li:before {
        background: white;
        border: 4px solid #0166ff;
        content: "";
        height: 4px;
        width: 4px;
        top: 8px;
    }
}
[class*="text-container"] {
    ol,
    ul {
        margin: 50px 0 50px 25px;
    }
    li {
        @extend [class^="secondary"];
        @extend %fnt-def-s;
        color: $col-gray-epsilon;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
.jobs-list + .jobs-list {
    margin-top: 50px;
}

// Events Page video PopUp:
.video-popup {
    z-index: -10;
    background-color: rgba(0,0,0, 1);
    // visibility: hidden;
    // opacity: 0;
    display: none;
    @include transition(opacity 500ms);
    &.is-active {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        // visibility: visible;
        // opacity: 1;
        z-index: 10010;
    }
    .align-helper {
        width: 100%;
        @include clearfix;
        position: relative;
        // top: 50%;
        // left: 50%;
        // @include transform(translate3d(-50%, -50%, 0));
        @include align-center;
        @include aspect-ratio(16, 9);
        @media screen and (min-width: $bp-in-between) {
            max-width: 60%;
        }
    }
    .close-popup {
        cursor: pointer;
        color: white;
        position: absolute;
        right: 20px;
        top: 0;
        z-index: 70;
        padding: 20px;
        @include font-size(46);
        font-weight: bold;
        @include transition(color 300ms);
        &:hover {
            color: $col-blue-alpha;
        }
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
