@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?33x9oh3');
    src:    url('../fonts/icomoon.eot?33x9oh3#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?33x9oh3') format('truetype'),
        url('../fonts/icomoon.woff?33x9oh3') format('woff'),
        url('../fonts/icomoon.svg?33x9oh3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\e909";
}
.icon-personal_site:before {
    content: "\e908";
}
.icon-despark:before {
    content: "\e601";
}
.icon-arr-left:before {
    content: "\e60c";
}
.icon-arr-right:before {
    content: "\e60d";
}
.icon-linkedin-center:before {
    content: "\e600";
}
.icon-facebook-center:before {
    content: "\e602";
}
.icon-behance-center:before {
    content: "\e603";
}
.icon-instagram-center:before {
    content: "\e604";
}
.icon-twitter-center:before {
    content: "\e605";
}
.icon-flickr-center:before {
    content: "\e606";
}
.icon-arrow-left:before {
    content: "\e900";
}
.icon-arrow-right:before {
    content: "\e901";
}
.icon-behance:before {
    content: "\e902";
}
.icon-facebook:before {
    content: "\e903";
}
.icon-flickr:before {
    content: "\e904";
}
.icon-instagram:before {
    content: "\e905";
}
.icon-linkedin:before {
    content: "\e906";
}
.icon-twitter:before {
    content: "\e907";
}
.icon-badges:before {
    content: "\e800";
}
.icon-bicycle:before {
    content: "\e801";
}
.icon-books:before {
    content: "\e802";
}
.icon-box:before {
    content: "\e803";
}
.icon-branding:before {
    content: "\e804";
}
.icon-burger:before {
    content: "\e805";
}
.icon-checklist:before {
    content: "\e806";
}
.icon-clock:before {
    content: "\e807";
}
.icon-coffee:before {
    content: "\e808";
}
.icon-craftsmanship:before {
    content: "\e809";
}
.icon-creativity:before {
    content: "\e80a";
}
.icon-curiosity:before {
    content: "\e80b";
}
.icon-discovery:before {
    content: "\e80c";
}
.icon-doc:before {
    content: "\e80d";
}
.icon-english1:before {
    content: "\e80e";
}
.icon-english2:before {
    content: "\e80f";
}
.icon-envelope:before {
    content: "\e810";
}
.icon-eyekickoff:before {
    content: "\e811";
}
.icon-flexiblehours:before {
    content: "\e812";
}
.icon-folder:before {
    content: "\e813";
}
.icon-fun1:before {
    content: "\e814";
}
.icon-fun2:before {
    content: "\e815";
}
.icon-infinityloop:before {
    content: "\e816";
}
.icon-initiative:before {
    content: "\e817";
}
.icon-massage:before {
    content: "\e818";
}
.icon-mobdev:before {
    content: "\e819";
}
.icon-nimbleness1:before {
    content: "\e81a";
}
.icon-nimbleness2:before {
    content: "\e81b";
}
.icon-nimbleness3:before {
    content: "\e81c";
}
.icon-openedbox:before {
    content: "\e81d";
}
.icon-openednvelope:before {
    content: "\e81e";
}
.icon-openedfolder:before {
    content: "\e81f";
}
.icon-outings:before {
    content: "\e820";
}
.icon-paidtraining:before {
    content: "\e821";
}
.icon-projectplan:before {
    content: "\e822";
}
.icon-qa:before {
    content: "\e823";
}
.icon-snacks:before {
    content: "\e824";
}
.icon-spec:before {
    content: "\e825";
}
.icon-staging:before {
    content: "\e826";
}
.icon-strategy:before {
    content: "\e827";
}
.icon-teamwork:before {
    content: "\e828";
}
.icon-tickets:before {
    content: "\e829";
}
.icon-training:before {
    content: "\e82a";
}
.icon-travel:before {
    content: "\e82b";
}
.icon-troika:before {
    content: "\e82c";
}
.icon-estimate:before {
    content: "\e82d";
}
.icon-ux:before {
    content: "\e82e";
}
.icon-webdev:before {
    content: "\e82f";
}
.icon-webmobdev:before {
    content: "\e830";
}
.icon-workshops:before {
    content: "\e831";
}
.icon-arr-down:before {
    content: "\e607";
}
.icon-triangles:before {
    content: "\e608";
}
.icon-tickmark:before {
    content: "\e609";
}
.icon-close-icon-x:before {
    content: "\e832";
}

