
/* RESET */
/* ======================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0; }
ol, ul {
    list-style: none; }
header, nav, section, article, aside, footer, hgroup, time, map, video, main, svg { display: block;}
* { outline: none; box-sizing: border-box; }

a {
    outline: none !important;
    text-decoration: none;
    color: inherit;
    font: inherit;
}
a img { border: none; }

body * {
    // -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
}
img {
    display: block;
    image-rendering: -webkit-optimize-contrast;
    -webkit-transform: translate3d(0,0,0);
    max-width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea {
        border: none;
        overflow: auto;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
nav,
a,
li,
span,
button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
