// IMAGES
//////////////////////////////////
$url-images: "../images/";
// Font directory
//////////////////////////////////
$url-fonts: "../fonts/";

// Colors
/////////////////////////////////
// GRAYS
$col-gray-alpha: rgba(34, 34, 34, 1.0);  // #222222
// BLACKS
$col-black-alpha: rgba(17, 17, 17, 1.0); // #111111
// BLUES
$col-blue-alpha: rgba(0, 102, 255, 1.0); // #0066FF
// GREENS
$col-green-alpha: rgba(61, 173, 158, 1.0); // #3DAD9E
// ORANGES
$col-orange-alpha: rgba(255, 176, 23, 1.0); //#FFB017
// REDS
$col-red-alpha: rgba(255, 27, 81, 1.0); // #FF1B51

//WITH OPACITY
$col-opacity-black-alpha: rgba(17, 17, 17, .2); // #111111

// Gradient color
//////////////////////////////////
$col-grad-blue-beta: rgba(0, 20, 142, 1.0); // #00148E

// MQ break points
//////////////////////////////////
$bp-tiny: 321px;
$bp-small: 481px;
$bp-large-mobile: 641px;
$bp-medium: 769px;
$bp-in-between: 961px;
$bp-normal: 1025px;
$bp-large: 1281px;
$bp-x-large: 1441px;
$bp-hd: 1920px;

// Max widths
//////////////////////////////////
$page-max-width: $bp-x-large - 1;
$wrap-max-width: $bp-in-between - 1;
$footer-max-width: 1170px;

// Link hover opacity
//////////////////////////////////
$link-opacity: 0.8;
