.skin-blue .main-header .logo,
.skin-blue .main-header .navbar .sidebar-toggle:hover,
.skin-blue .main-header li.user-header {
    background-color: #0141ad;
}
.skin-blue .main-header .logo:hover,
.skin-blue .main-header .navbar {
    background-color: #2158b2;
}
.uppercase {
    text-transform: uppercase;
}
.login-page,
.register-page {
    background-color: #e5e6ea;
}
.admin-logo {
    min-width: 265px;
}
.login-box-body,
.register-box-body {
    background: none;
}
input.form-control {
    height: 40px;
}
.login-box-body input.form-control,
.register-box-body input.form-control {
    border: none;
    border-radius: 40px;
}
.error-message {
    color: #dd4b39;
    font-size: 12px;
    padding: 5px 0 0 20px;
}
.btn,
.btn.btn-flat {
    border-radius: 40px;
    height: 40px;
    min-width: 70px;
    padding: 10px 15px;
}
.btn:hover {
    opacity: 0.8;
}
.btn:not(.btn-outline) {
    border: none;
}
.btn-primary,
.btn-primary:hover,
.dataTables_paginate .pagination > .active > a,
.dataTables_paginate .pagination > .active > a:focus,
.dataTables_paginate .pagination > .active > a:hover,
.dataTables_paginate .pagination > .active > span,
.dataTables_paginate .pagination > .active > span:focus,
.dataTables_paginate .pagination > .active > span:hover {
    background-color: #5db0dc;
}
.btn-success,
.btn-success:hover {
    background-color: #62ba90;
}
.btn-danger,
.btn-danger:hover {
    background-color: #f6819e;
}
.box {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
}
input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=checkbox].css-checkbox + label.css-label::before {
    padding-left: 32px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-weight: normal;
    vertical-align: bottom;
    margin-right: 10px;
    margin-top: 25px;
}
input[type=checkbox].css-checkbox:checked + label.css-label::before {
    background-position: -32px 0;
}
label.css-label {
    line-height: 32px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label.css-label::before {
    content: " ";
    background-image: url("../images/checkbox.png");
}
.navbar-nav > .user-menu > .dropdown-menu {
    padding: 0;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: auto;
}
.content-wrapper {
    padding: 15px;
}
.content {
    background-color: #fff;
}
div.mce-edit-area {
    padding: 10px;
}
#data-table_wrapper {
    position: relative;
}
#data-table_wrapper > a.btn-success {
    position: absolute;
    z-index: 1;
}
.dataTables_filter label {
    border: 1px solid #e9e9e9;
    border-radius: 45px;
}
.dataTables_filter .search-label {
    color: #9d9d9d;
    padding: 15px;
}
.dataTables_filter input {
    background-color: #f2f2f2;
    border-radius: 40px;
}
.table-bordered,
table.dataTable {
    border: 1px solid #e8e8e8;
    border-collapse: collapse !important;
    border-spacing: 0;
}
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th {
    border-bottom: 1px solid #e8e8e8;
}
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.dataTable tfoot th,
.dataTable thead th {
    font-weight: normal;
    text-transform: uppercase;
}
.dataTable .actions-cell a {
    text-transform: uppercase;
}
.actions-col {
    width: 320px;
}
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f2f2f2;
}
.dataTables_paginate .pagination > li > a,
.dataTables_paginate .pagination > li > span {
    border: none;
    border-radius: 32px;
    margin: 0 3px;
}
.paginate_button.disabled {
    opacity: 0.7;
}
.dataTables_paginate .pagination > .active > a,
.dataTables_paginate .pagination > .active > a:focus,
.dataTables_paginate .pagination > .active > a:hover,
.dataTables_paginate .pagination > .active > span,
.dataTables_paginate .pagination > .active > span:focus,
.dataTables_paginate .pagination > .active > span:hover {
    background-color: #5db0dc;
}
.default-form .btn,
.default-form label {
    font-weight: normal;
    text-transform: uppercase;
}
